<% breadcrumb :office, current_office %>

<div class="row">
  <div class='col-lg-6 col-md-6 mt-2 mb-2'>
    <div class="card h-100">
      <div class='card-body p-5'>
        <div class="row h-100">
          <div class='d-flex justify-content-start align-items-center'>
            <div>
              <%= link_to [:new, current_office, :data_model], class: 'stretched-link text-primary' do %>
                <i class="fa fa-shapes h1"></i>
              <% end %>
            </div>
            <div class='ms-5'>
              <h4> Create Data Model</h4>
              <p>
                A form or template for creating data entries
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-lg-6 col-md-6 mt-2 mb-2'>
    <div class="card h-100">
      <div class='card-body p-5'>
        <div class="row h-100">
          <div class='d-flex justify-content-start align-items-center'>
            <div>
              <%= link_to [current_office, current_office.data_models.first, :instances], class: 'stretched-link text-primary' do %>
                <i class="fa-solid fa-cubes h1"></i>
              <% end %>
            </div>
            <div class='ms-5'>
              <h4>Add New Entry</h4>
              <p>
                Create an entry using a Data Model
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-lg-6 col-md-6 mt-2 mb-2'>
    <div class="card h-100">
      <div class='card-body p-5'>
        <div class="row h-100">
          <div class='d-flex justify-content-start align-items-center'>
            <div>
              <%= link_to [:new, current_office, :member], class: 'stretched-link text-primary' do %>
                <i class="fa fa-paper-plane h1"></i>
              <% end %>
            </div>
            <div class='ms-5'>
              <h4> Invite Member</h4>
              <p>
                Send an invite and collorate with other users
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
