<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for template, url: url, remote: remote  do |f| %>
      <div class="modal-header">
        <h5 class='modal-title'> Create new <%= @data_model.name %> Document Template</h5>
      </div>
      <div class="modal-body">
        <%= render "form_fields", f: f %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= f.submit  class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
