<% breadcrumb :template, @template, current_office %>
<div class="card">
  <div class="card-body">
    <p>
      <strong>Name:</strong>
      <%= @template.name %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @template.description %>
    </p>
  </div>
</div>


