/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "../node_modules/bootswatch/dist/flatly/variables";
@import "bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/flatly/bootswatch";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

body {
  background-color: #fafbfe;
}

.tb-actions {
  width: 40px;
}

h6, h5, h4 {
  font-weight: 700;
}

.no-decoration:link { text-decoration: none; }


.no-decoration:visited { text-decoration: none; }


.no-decoration:hover { text-decoration: none; }


.no-decoration:active { text-decoration: none; }


