/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootswatch/dist/flatly/variables";
@import "../node_modules/bootstrap/scss/variables";

// Lighten bootswatch pagination
// $pagination-padding-y:              .375rem;
// $pagination-padding-x:              .75rem;
// $pagination-padding-y-sm:           .25rem;
// $pagination-padding-x-sm:           .5rem;
// $pagination-padding-y-lg:           .75rem;
// $pagination-padding-x-lg:           1.5rem;

$pagination-color:                  $link-color;
$pagination-bg:                     $white;
$pagination-border-width:           none;
$pagination-border-radius:          $border-radius;
$pagination-margin-start:           -$pagination-border-width;
$pagination-border-color:           $gray-300;

// $pagination-focus-color:            $link-hover-color;
// $pagination-focus-bg:               $gray-200;
// $pagination-focus-box-shadow:       $input-btn-focus-box-shadow;
// $pagination-focus-outline:          0;

$pagination-hover-color:            $link-hover-color;
$pagination-hover-bg:               $gray-200;
$pagination-hover-border-color:     $gray-300;

// $pagination-active-color:           $component-active-color;
// $pagination-active-bg:              $component-active-bg;
// $pagination-active-border-color:    $pagination-active-bg;

// $pagination-disabled-color:         $gray-600;
// $pagination-disabled-bg:            $white;
// $pagination-disabled-border-color:  $gray-300;

// $pagination-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

// $pagination-border-radius-sm:       $border-radius-sm;
// $pagination-border-radius-lg:       $border-radius-lg;

@import "bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/flatly/bootswatch";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

@import "tom-select/dist/css/tom-select.bootstrap5";

body {
  background-color: #fafbfe;
}

.tb-actions {
  width: 40px;
}

h6, h5, h4 {
  font-weight: 700;
}

.no-decoration:link { text-decoration: none; }


.no-decoration:visited { text-decoration: none; }


.no-decoration:hover { text-decoration: none; }


.no-decoration:active { text-decoration: none; }

.z-1 {
   z-index: 1;
   position: relative;
}

body {
  overflow: scroll;
}


table > tbody > tr > td {
  border-bottom-width: 0 !important;
}
