<% breadcrumbs(display_single_fragment: true, autoroot: false).tap do |links| %>
  <% if links.any? %>
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb ps-0">
          <% links.each do |link| %>
            <% next if link.key == :root %>
            <% if link.current? %>
              <li class="breadcrumb-item active" aria-current='page'>
                <%= link.text %>
              </li>
            <% else %>
              <li class="breadcrumb-item">
                <%= link_to link.text, link.url, class: 'no-decoration' %>
              </li>
            <% end %>
          <% end %>
        </ol>
      </nav>
    </div>
  <% end %>
<% end %>
