<div class="col-md-12 mb-2">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class='nav-item'>
      <%= link_to [current_office], class: "nav-link link-dark #{ params[:controller] == 'offices' && params[:action] == 'show' ? 'active' : '' }" do %>
        <i class="fa fa-building  me-2"></i>
        Dashboard
      <% end %>
    </li>
    <li class='nav-item'>
      <%= link_to [current_office, :data_models], class: "nav-link link-dark #{ params[:controller] == 'data_models' ? 'active' : '' }" do %>
        <i class="fa fa-shapes me-2"></i> Data Models
      <% end %>
    </li>
    <li class='nav-item'>
      <%= link_to [current_office, :members], class: "nav-link link-dark #{ params[:controller] == 'members' ? 'active' : '' }" do %>
        <i class="fa fa-users me-2"></i>
        Members
      <% end %>
    </li>
    <li class='nav-item'>
      <%= link_to [:edit, current_office], class: "nav-link link-dark #{ params[:controller] == 'offices' && params[:action] != 'show' ? 'active' : '' }" do %>
        <i class="fa fa-cog me-2"></i> Office Config
      <% end %>
    </li>
  </ul>
</div>
