<% if model_property.errors.count.positive? %>
  <div class='error'>
    <% model_property.errors.each do |error| %>
      <div class="alert alert-danger">
        <%= error.full_message %>
      </div>
    <% end %>
<% end %>
<%= form_for model_property, url: url do |f| %>
  <%= render "form_fields", f: f %>
<% end %>

