<% breadcrumb :new_model_property, @model_property, current_office %>
<h3> Create <%= @data_model.name %>'s Property </h3>

<div class='card'>
  <div class='card-body'>
    <%= render "form", model_property: @model_property, url: [current_office, @data_model, :model_properties], remote: false%>
  </div>
</div>

